body {
    background-color: #6610f2 !important;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

form {
    width: 1300px;
	border: 2px solid #ccc;
	padding: 30px;
	background: #fff;
	border-radius: 15px;
    margin: 5rem 0;
}

.product-image {
    width: 200px;
}

.product-title {
    padding: 1rem;
}

.payment-card-container {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-top: 2rem !important;
}

.payment-error-container {
    margin-top: 2rem !important;
}

#completedForm {
    width: 500px !important;
}

.completed-form {
    text-align: center;
}

.submit-button {
    position: relative;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    height: 2.5rem !important;
}

.button-loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}