body {
    background-color: #6610f2 !important;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

form {
    width: 1300px;
	border: 2px solid #ccc;
	padding: 30px;
	background: #fff;
	border-radius: 15px;
    margin: 5rem 0;
}

.product-image {
    width: 200px;
}

.product-title {
    padding: 1rem;
}

.payment-card-container {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-top: 2rem !important;
}

.payment-error-container {
    margin-top: 2rem !important;
}